@media (max-width: 570px) {
  /* .container {
    display: flex;
    flex-direction: column;
  }

  .container {
    height: unset;
  } */

  .goals .card_content {
    gap: 0;
  }

  .card_content_left {
    font-size: 25px;
  }
}
